*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}


.home-container{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 80px;
}


/* Home top */

.hometop-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(270deg,#D2AEFF, #EEE1FF);
    margin-bottom: 40px;
}
.hometop-welcome{
    width: calc(100% - 80px);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 40px;
}
.hometop-welcome-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 450px;
}
.hometop-welcome-left h5{
    color: #ffffff;
    width: fit-content;
    padding: 2px 20px;
    background-color: #A157FF;
    border-radius: 20px;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
}
.hometop-welcome-left h1{
    color: #1f1f1f;
    font-size: 40px;
}
.hometop-welcome-left p{
    font-size: 16px;
    color: 616161;
    margin-bottom: 30px;
    margin-top: 5px;
}
.hometop-image{
    width: 30%;
    height: 300px;
    background-image: url(../../images/homepage.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.hometop-numbers{
    width: calc(100% - 60px);
    padding: 0 30px;
    height: 80px;
    background-color: #C293FF;
    box-shadow: inset 0 0 25px rgba(0,0,0,.25);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hometop-number{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}
.hometop-number h3{
    font-size: 28px;
    margin-bottom: 5px;
}
.numbers-between{
    height: 50px;
    width: 2px;
    background-color: #fff;

}

@media (max-width:840px ) {
    .hometop-container{
        background: linear-gradient(180deg,#D2AEFF, #EEE1FF);
    }
    .hometop-welcome{
        flex-direction: column;
    }
    .hometop-welcome-left{
        width: 100%;
        align-items: center;
    }
    .hometop-welcome-left h1{
        text-align: center;
        font-size: 28px;
    }
    .hometop-welcome-left p{
        text-align: center;
        font-size: 14px;
    }
    .hometop-image{
        width: 80%;
        max-width: 250px;
        height: 200px;
        margin-top: 40px;
    }
    .hometop-number h3{
        font-size: 20px;
    }
    .hometop-number p{
        font-size: 14px;
    }
}