*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.updatepassword-container{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding-top: 130px;
    justify-content: space-around;
}
.updatepassword-elements{
    display: flex;
    flex-direction: column;
}


.change h2{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: #1F1F1F;
    margin-bottom: 30px;

}
.informationss{
    display: flex;
    width: 870px;
    height: 204px;

}

.informationss form {
    display: flex;
    flex-direction: column ;
    padding: 0px;
    gap: 20px;
}
.info{
    display: inline-flex;
    column-gap :20px;
    justify-content: space-between;

}
.informationss form input{
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    padding-left: 10px;
    line-height: 40px;
    font-weight: 400;
    color: #1F1F1F;
    width: 670px;
    height: 36px;
    right: 10px;
}

.informations form label{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #616161;
    margin: 15px 0 5px 5px;
}
.SaveButton{
    width:180px;
    height: 40px;
    background-color: #A157FF;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    display: block;
    text-align: center;
    line-height: 40px;
    border: none;
    cursor: pointer;
    align-self: center;
}
.SaveButton:hover{
    background-color: #8439E2;
}