*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Raleway';
}

/* Navbar */
.nav{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: calc(100% - 80px);
    height: 80px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 0 40px;
    background-color: #fff;
    color: #1f1f1f;
    box-shadow: 0 0 8px rgba(0,0,0,.15);
}
.nav .logo{
    color: inherit;
    font-size: 24px;
    font-weight: 700;
}
.nav .nav-active{
    display: none;
}
.nav .nav-not-active{
    display: flex;
}
.nav-active .profile-picture{
    margin-left: 20px;
}
.nav .link{
    color: inherit;
    margin-right: 20px;
    line-height: 40px;
}
.nav .picture{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.searchbarFormNav{
    height: 40px;
    width: 400px;
    position: relative;
}
.searchbarFormHamburger{
    height: 40px;
    width: 90%;
    position: relative;
}
.searchbarFormNav input, .searchbarFormHamburger input{
    width: 100%;
    height: 100%;
    display: block;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    padding-left: 10px;
}
.searchbarFormNavWhite input{
    background-color: #f1f1f1;
    color: #1f1f1f;
}
.searchbarFormNav input:focus, .searchbarFormHamburger input:focus{
    outline: none;
}
.searchbarFormNav button, .searchbarFormHamburger button{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background: none;
    border: none;
}
.hamburgerBtn{
    display: none;
}
.hamburgerBtnNavWhite path{
    fill: #1f1f1f;
}
.hamburgerBtnNavBlack path{
    fill: #fff;
}
.hamburgerMenu{
    position: fixed;
    z-index: 1000;
    top: -1000px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 8px rgba(0,0,0,.15);
    position: relative;
    padding: 20px 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.hamburgerClosed{
    animation: hamburger-close .8s linear 1 normal;
    animation-fill-mode: both;
}
.hamburgerOpened{
    animation: hamburger-open .8s linear 1 normal;
    animation-fill-mode: both;
}
@keyframes hamburger-open {
    from {
        top:-1000px
    }
    to{
        top:0
    }
}
@keyframes hamburger-close {
    from {
        top:0
    }
    to{
        top:-1000px
    }
}
.hamburgerMenuNavWhite{
    background-color: #fff;
    color: #1f1f1f;
}
.hamburgerMenuNavOff{
    display: none;
}
.hamburgerMenu div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.hamburgerMenu .link{
    color: inherit;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    height: 30px;
    line-height: 30px;
    display: block;
}
.hamburgerMenu .link:hover{
    color: #A157FF;
}
.NavBlackcloseHamburger{
    position: absolute;
    left: calc(50% - 25px);
    bottom: -80px;
    width: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
}
.NavWhitecloseHamburger{
    position: absolute;
    left: calc(50% - 25px);
    bottom: -80px;
    width: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
}
.NavBlackcloseHamburger{
    background-color: #1f1f1f;
    box-shadow: 0 0 8px rgba(0,0,0,.15);
}
.NavBlackcloseHamburger path{
    fill: #fff;
}
.NavWhitecloseHamburger{
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,.15);
}
.NavWhitecloseHamburger path{
    fill: #1f1f1f;
}

.hamburgerMenu .connected{
    display: none;
}
.hamburgerMenu .notConnected img{
    width: 40%;
    max-width: 200px;
}
.hamburgerMenu .notConnected .link{
    font-size: 16px;
    line-height: 16px;
}

@media (max-width:840px ) {
    .hamburgerBtn{
        display: block;
        cursor: pointer;
    }
    .searchbarFormNav{
        display: none;
    }
    .nav .nav-active, .nav .nav-not-active{
        display: none;
    }
    
}

/* Button */

.main-button{
    width:180px;
    height: 40px;
    background-color: #A157FF;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    display: block;
    text-align: center;
    line-height: 40px;
}
.main-button:hover{
    background-color: #8439E2;
}


/* Popular Courses */

.popular-courses-container{
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}
.popular-courses-text{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.popular-courses-text h3{
    display: block;
    color: #616161;
    font-weight: 700;
}
.popular-courses-text .link{
    display: block;
    color: #949494;
    font-weight: 600;
}
.popular-courses-text .link:hover{
    color: #616161;
}
.popular-courses-list ul{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


@media (max-width:840px ) {
    .popular-courses-container{
        width: 100%;
        padding: 0;
    }
    .popular-courses-text h3{
        padding-left: 20px;
    }
    .popular-courses-text .link{
        padding-right: 20px;
    }
    .popular-courses-list ul{
        padding-left: 5px;
        width: calc(100% - 5px);
        flex-flow: row nowrap;
        justify-content:flex-start;
        align-items:flex-start;
        gap: 15px;
        overflow: scroll;
        scrollbar-width: 0;
        -ms-overflow-style:none;
    } 
    .popular-courses-list ul::-webkit-scrollbar {
        display: none;
      }
}


/* Course Tab */

.course-tab{
    width: 260px;
    height: 180px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .15);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    margin: 15px;
}
.course-tab-line{
    height: 10px;
    width: 100%;
    opacity: 0;
    margin-bottom: 5px;
    transition: .3s;
}
.course-tab-level-badge{
    position: absolute;
    top: -30px;
    right: 10px;
    height: 70px;
    width: 30px;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    background: #fff;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    transition: .3s;
}
.course-tab-level-badge p{
    font-size: 24px;
    font-weight: 600;
}
.course-tab-level-text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-left: 10px;
}
.course-tab-primary .course-tab-level-badge{
    border: 1px solid #F5B81C;
}
.course-tab-primary .course-tab-level-badge p{
    color: #F5B81C;
}
.course-tab-primary .course-tab-line{
    background-color: #F5B81C;
}
.course-tab-primary .course-tab-level-text{
    color: #F5B81C;
}
.course-tab-middle .course-tab-level-badge{
    border: 1px solid #547AFF;
}
.course-tab-middle .course-tab-level-badge p{
    color: #547AFF;
}
.course-tab-middle .course-tab-line{
    background-color: #547AFF;
}
.course-tab-middle .course-tab-level-text{
    color: #547AFF;
}
.course-tab-high .course-tab-level-badge{
    border: 1px solid #A157FF;
}
.course-tab-high .course-tab-level-badge p{
    color: #A157FF;
}
.course-tab-high .course-tab-line{
    background-color: #A157FF;
}
.course-tab-high .course-tab-level-text{
    color: #A157FF;
}
.course-tab-university .course-tab-level-badge{
    border: 1px solid #FF5454;
}
.course-tab-university .course-tab-level-badge p{
    color: #FF5454;
}
.course-tab-university .course-tab-line{
    background-color: #FF5454;
}
.course-tab-university .course-tab-level-text{
    color: #FF5454;
}

.course-tab-course{
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
    color: #1f1f1f;
}
.course-tab-teacher{
    display: flex;
    margin: 5px 10px;
    gap: 10px;
}
.course-tab-teacher img{
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
.course-tab-teacher p{
    font-size: 16px;
    font-weight: 500;
    color: #616161;
}
.course-tab-infos{
    display: flex;
    flex-flow: row wrap;
    margin-left: 10px;
}
.course-tab-infos p{
    padding: 0 8px;
    margin: 2px;
    font-size: 16px;
    border-radius: 8px;
    width: fit-content;
}
.course-tab-location{
    color: #A157FF;
    background-color: #F2E8FF;
}
.course-tab-price{
    color: #3CA746;
    background-color: #DEF0E0;
}
.course-tab-time{
    color: #FF9568;
    background-color: #FFEAE1;
}


.course-tab:hover > .course-tab-line{
    opacity: 1;
}
.course-tab:hover > .course-tab-level-badge{
    top: -2px;
}