*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}


.courses-container{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 80px;
}

.courses-results{
    padding: 20px 40px;
}
.courses-results .text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.courses-results .text h3{
    display: block;
    color: #616161;
    font-weight: 700;
}
.courses-results .text p{
    display: block;
    color: #949494;
    font-weight: 600;
    cursor: pointer;
}
.courses-results .text p:hover{
    color: #616161;
}


.coursestabs-container{
    width: 100%;
}
.coursestabs-container ul{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/* Filters */

.resultsfilter-container{
    width: 400px;
    height: 100vh;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    top: 0;
    right: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, .25);
    transition: .5s;
}
.resultsfilter-container-open{
    right: 0;
}
.resultsfilter-container-closed{
    right: -500px;
}


.close-btn{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
    width: 25px;
    height: 25px;
    background-color: #f1f1f1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.close-btn:hover{
    background-color: #ddd;
}
.close-btn svg{
    height: 12px;
    width: 12px;
}

.resultsfilter-container h2{
    margin-top: 23px;
    font-size: 22px;
    font-weight: 600;
}

#filter-form{
    margin: 10px;
    width: calc(100% - 40px);
}

#filter-form p{
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 5px;
}
.filter-form-radio-group{
    display: flex;
    flex-flow: row wrap;
}
.filter-form-radio{
    margin: 7px 15px 7px 0;
}
.filter-form-radio input{
    position: absolute;
    opacity: 0;
}
.filter-form-radio label{
    font-size: 16px;
    font-weight: 500;
    color: #616161;
    background-color: #f1f1f1;
    padding: 2px 20px;
    border-radius: 14px;
    cursor: pointer;
}
.filter-form-radio label:hover{
    outline: 1.5px solid #A157FF;
}
.filter-form-radio input:checked +  label{
    outline: 1.5px solid #A157FF;
    color: #A157FF;
    background-color: #E6D2FF;
}
#filter-form select{
    width: 100%;
    background-color: #f1f1f1;
    border:none;
    outline: none;
    color: #616161;
    font-size: 16px;
    font-weight: 500;
    height: 35px;
    padding: 2px 15px;
    border-radius: 5px;
}
#filter-form .filter-input{
    width: calc(100% - 30px);
    background-color: #f1f1f1;
    border:none;
    outline: none;
    color: #616161;
    font-size: 16px;
    font-weight: 500;
    height: 35px;
    padding: 2px 15px;
    border-radius: 5px;
}
#filter-form .filter-input::placeholder{
    color: #949494;
}

.filter-submitButton{
    width:180px;
    height: 40px;
    background-color: #A157FF;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    display: block;
    text-align: center;
    line-height: 40px;
    border: none;
    cursor: pointer;
    align-self: center;
}
.filter-submitButton:hover{
    background-color: #8439E2;
}

@media (max-width:500px ) {
    .resultsfilter-container{
        width: 100%;
    }
    .courses-results .text{
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .courses-results .text p{
        text-decoration: underline;
    }
}