*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}


.postcourse-container{
    width: 800px;
    position: absolute;
    top: 0;
    left: calc(50% - 400px);
    padding-top: 100px;
}
.postcourse-container h1{
    font-size: 28px;
    margin-bottom: 20px;
}

#postcourse-form{
    margin: 10px 0 ;
    width: 800px;
}
.postcourse-form-maindiv{
    display: flex;
    margin: 10px 0;
}
.postcourse-form-maindiv p{
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 5px;
    width: 200px;
    color: #616161;
}
.postcourse-form-radio-group{
    display: flex;
    flex-flow: row wrap;
}
.postcourse-form-radio{
    margin: 7px 15px 7px 0;
}
.postcourse-form-radio input{
    position: absolute;
    opacity: 0;
}
.postcourse-form-radio label{
    font-size: 16px;
    font-weight: 500;
    color: #616161;
    background-color: #f1f1f1;
    padding: 2px 20px;
    border-radius: 14px;
    cursor: pointer;
}
.postcourse-form-radio label:hover{
    outline: 1.5px solid #A157FF;
}
.postcourse-form-radio input:checked +  label{
    outline: 1.5px solid #A157FF;
    color: #A157FF;
    background-color: #E6D2FF;
}
#postcourse-form select{
    width: calc(100% - 200px);
    background-color: #f1f1f1;
    border:none;
    outline: none;
    color: #616161;
    font-size: 16px;
    font-weight: 500;
    height: 35px;
    padding: 2px 15px;
    border-radius: 5px;
}
#postcourse-form .postcourse-input{
    width: calc(100% - 230px);;
    background-color: #f1f1f1;
    border:none;
    outline: none;
    color: #616161;
    font-size: 16px;
    font-weight: 500;
    height: 35px;
    padding: 2px 15px;
    border-radius: 5px;
}
#postcourse-form .postcourse-input::placeholder{
    color: #949494;
}

.postcourse-submitButton{
    width:180px;
    height: 40px;
    background-color: #A157FF;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    display: block;
    text-align: center;
    line-height: 40px;
    border: none;
    cursor: pointer;
    align-self: center;
}
.postcourse-submitButton:hover{
    background-color: #8439E2;
}


.postcourse-description{
    width: calc(100% - 230px);
    background-color: #f1f1f1;
    border:none;
    outline: none;
    color: #616161;
    font-size: 16px;
    font-weight: 500;
    height: 100px;
    padding: 2px 15px;
    border-radius: 5px;
    resize: none;
}
.postcourse-description::placeholder{
    color: #949494;
}
.postcourse-buttons{
    display: flex;
    align-items: center;
    margin: 10px 0 20px;
}
.postcourse-cancelButton{
    font-size: 18px;
    font-weight: 600;
    color: #949494;
    margin-left: 20px;
}
.postcourse-cancelButton:hover{
    color: #616161;
}


@media (max-width:840px ) {
    .postcourse-container{
        width: calc(100% - 80px);
        left: 0;
        padding: 100px 40px 0;
    }
    .postcourse-container h1{
        font-size: 26px;
    }
    #postcourse-form{
        margin: 10px 0 ;
        width: 100%;
    }
    .postcourse-form-maindiv{
        flex-direction: column;
    }
    .postcourse-form-maindiv p{
        font-size: 16px;
        font-weight: 600;
        margin: 10px 0 5px;
        width: 200px;
        color: #616161;
    }
    #postcourse-form select{
        width: 100%;
    }
    #postcourse-form .postcourse-input, .postcourse-description{
        width: calc(100% - 30px);
    }
}