*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.savedcourses-container{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding-top: 130px;
    justify-content: space-around;
}
.savedcourses-elements{
    display: flex;
    flex-direction: column;
}
.savedcourses-elements h2{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 15px;
}

.savedcourses-list{
    display: flex;
    flex-flow: row wrap;
    max-width: 870px;
}


@media (max-width:840px){
    .savedcourses-container{
        align-items: center;
        justify-content: center;
        padding-top: 100px;
    }
    .savedcourses-list{
        align-items: center;
        justify-content: center;
    }
    .savedcourses-elements{
        align-items: center;
    }
    .savedcourses-elements h2{
        margin-bottom: 10px;
    }
}